body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin:0%;
}
:root {
  --text-color: #000000;
  --background-color: #ffffff;
}

body.dark {
  --text-color: #5EC3EB;
  --background-color: #0A1B22;
}

body.light {
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark {
  background-color: var(--background-color);
  color: var(--text-color);
}

#darkmode {
  background: transparent;
  border: none;
  cursor: pointer;
}

.light-icon,
.dark-icon {
  width: 24px;
  height: 24px;
}

body.light #darkmode .dark-icon {
  display: none;
}

body.light #darkmode .light-icon {
  display: block;
}

/* body {
  font-family: 'Roboto', sans-serif;
}

.MuiTypography-root {
  color: var(--text-color);
} */
